<footer>
    <div id="footer-container">
        <div class="links-container">
            <a class="link" href="https://www.linkedin.com/in/jaewon-bae-1738b8132/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="link" href="https://github.com/binding1"><i class="fa-brands fa-github"></i></a>
            <a class="link" target="_blank" rel="noopener noreferrer" href="/Jaewon_Bae_Resume_2022_Q3_IT.pdf">Resume</a>
        </div>
    <div>Jaewon Bae 2022</div>
</div>
</footer>