<footer>
    <div class="links-container">
        <a href="https://www.linkedin.com/in/jaewon-bae-1738b8132/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/binding1"><i class="fa-brands fa-github"></i> GitHub</a>
    </div>
</footer>