<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- Icon CDN CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Animate CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Footer CSS -->
    <link rel="stylesheet" href="/css/body.css" type="text/css">

    <!-- Header CSS -->
    <link rel="stylesheet" href="/css/header.css" type="text/css">

    <!-- Footer CSS -->
    <link rel="stylesheet" href="/css/footer.css" type="text/css">

    <!-- Projects CSS -->
    <link rel="stylesheet" href="/css/projects.css" type="text/css">



    <title>Jaewon's Views</title>
  </head>
  <body>
    <%- include ('partials/_header') %>
    <div id="projects-header">
      <h1 class="animate__animated animate__fadeInUp animate__faster">Projects</h1> 
    </div>

    <div class="project-container">
      <div class="project-box animate__animated animate__fadeInUp animate__faster" id="Jaewon's Views">
        <h3>Jaewon's Views</h3>
        <p id="views">Personal website for my Profile, Resume and Portfolio. Built using JS, EJS, Express, HTML5 and CSS.</p>
        <a href="https://github.com/binding1/Jaewon_Website" class="project-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="project-box animate__animated animate__fadeInUp animate__faster" id="tweeter">
        <h3>Tweeter</h3>
        <p id="views">Single page web page, based on existing backend architecture. Built using HTML and CSS.</p>
        <a href="https://github.com/binding1/tweeter" class="project-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="project-box animate__animated animate__fadeInUp animate__faster" id="tinyapp">
        <h3>Tinyapp</h3>
        <p id="views">Link shortening app. Built using JS, EJS, Express, HTML5 and CSS.</p>
        <a href="https://github.com/binding1/tinyapp" class="project-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="project-box animate__animated animate__fadeInUp animate__faster" id="lotide">
        <h3>Lotide</h3>
        <p id="views">Clone of Lodash. Built in JS.</p>
        <a href="https://github.com/binding1/lotide" class="project-icon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <%- include ('partials/_footer') %>
  </body>
</html>